.none{
    display: none;
}

.block{
    display: block;
}
.btn{background-color: #2b2d42;
    color: #edf2f4;

}

.iframe{
   margin-top: 10vh;
   width: 100VW;
}
.formContainer{
    
}
.h2{
    color: #E50914;
}


.css-1d3z3hw-MuiOutlinedInput-notchedOutline{
    border-color:  white !important;
    
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input
{color: white !important;}

.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root

{
    color: white !important;

}

.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
    color: white !important;

}

.TextFieldDiv{
    margin: 2vw !important;
}