.list-container{
    width: 100vw;
    border-top-style: solid;
    border-color: white;
    border-bottom-style: solid;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: -2vw;
    color: white;

}

.img-holder{
    margin-left: 15vw;
    height: 12vh;
}
.title-container{
    transform: translateX(-7vw);

}
span{margin: 10vw;}
.firstspan{
    margin-left: 15vw;
    width: 15vw;
    margin-right: 5vw;
}

.xspan{
    margin-left: 2vw;
    
    padding: 0.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
   
    width: auto;
    height: 6vh;
    
}
.header{
    width: 100vw;
     margin-top: 5vh;
     margin-bottom: 7vh;
   display: flex;
   justify-content: space-evenly;
   margin-left: 3vw;
}

.titleh{
    border-radius: 5%;
    margin-left: 0;
    background-color:#d32f2f;
color: white;
opacity: 0.8;  
height: 7vh


}
.raitingh{
    margin-left: 2vw;
    background-color:#d32f2f;
    border-radius: 5%;
color: white;
opacity: 0.8;  
height: 7vh

}
.vidh
{
    border-radius: 5%;
    background-color:#d32f2f;
color: white;
opacity: 0.8;    
margin-left: 0;
height: 7vh
    
    
}
.removeh{
    border-radius: 5%;
     margin-left: 2vw;
     background-color: #d32f2f ;color: white;
     opacity: 0.8;
     height: 7vh
   
}
ul{list-style-type: none;
margin: none;
margin: 0;
padding: 0;}

.img-holder{
    cursor: pointer;
    margin-left: 0;
    margin-left:    5vw;
}
span{width: 20vw;
height: 10vh;
display: flex;
justify-content: center;
align-items: center;
border-color:red ;
border-radius: 0%;
}
